.tileContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
}

#winFont {
    color: green;
    font-size: 32pt;
}

#loseFont {
    color: red;
    font-size: 32pt;
}