.tileContainer {
    /* maybe add border only if solved so can blend in with background? */
    /* border: 3px solid; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    border-radius: 10px;
    /* background-color: darkgray; */
    padding: 10px;
}

#winFont {
    color: green;
    font-size: 32pt;
}